version: "3.9"

services:
  mssql:
    image: mcr.microsoft.com/mssql/server:latest
    container_name: mssql-server
    environment:
      SA_PASSWORD: "J7wxkw>9e&3z"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - mssql_data:/var/opt/mssql
    restart: always

volumes:
  mssql_data:
